<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    <style>
        body{
 
            color:red;
            display: flex;
            justify-content: center;
            margin-top: 40vh;
            align-items: center;
        }

    </style>
</head>
<body>
    <h2>CONTACT | US</h2>
    
</body>
</html>